<div class="list-sizer">
  <label for="page-size" class="sr-only">Antal resultat</label>
  <SimpleSelect id="page-size" @onChange={{this.sizeChanged}} @value={{@model}} as |s|>
    {{#each this.availableSizes as |size|}}
      <s.option @label={{size.label}} @value={{size.value}} />
    {{/each}}
  </SimpleSelect>
</div>
