.loader {
  position: absolute;
  top: 50%;
  width: 100vw;

  transform: translateY(-50%);
  text-align: center;
  font-size: 2.5rem;

  span {
    display: inline-block;
    opacity: 0.8;

    animation-duration: 2s;
    animation-name: loader-jump;
    animation-iteration-count: infinite;

    &:nth-child(1) {
      animation-delay: 0.25s;
    }
    &:nth-child(2) {
      animation-delay: 0.5s;
    }
    &:nth-child(3) {
      animation-delay: 0.75s;
    }
    &:nth-child(4) {
      animation-delay: 1s;
    }
  }
}

@media (min-width: @screen-desktop-min) {
  .loader {
    top: 50%;
    left: 50%;
    width: 600px;

    transform: translate(-50%, -50%);
    font-size: 4.5rem;
  }
}

@keyframes loader-jump {
  from {
    transform: translateY(0);
  }

  15% {
    transform: translateY(-25px);
  }

  75% {
    transform: translateY(0);
  }

  to {
    transform: translateY(0);
  }
}
