@body-background-color:                       #f0f8ff;
@main-background-color:                       rgba(255, 255, 255, 1);
@overlay-color:                               rgba(0, 0, 0, 0.3);

@primary-font:                                'Raleway', sans-serif;
@header-font:                                 @primary-font;
@text-font:                                   @primary-font;

@body-margins:                                2rem;
@body-margins2x:                              @body-margins * 2;

@screen-tablet-min:                           768px;
@screen-desktop-min:                          992px;

@z-index-menu:                                1001;
@z-index-menu-overlay:                        1000;
@z-index-loader-container:                    150;
@z-index-dropdowns:                           100;
@z-index-dialogs:                             11;
@z-index-dialog-overlays:                     10;
