{{page-title "Songbird"}}

<section class="main-wrapper">
  <header>
    <LinkTo @route="index">
      <span class="sr-only">Gå till startsidan</span>
      <img src="/images/logo.svg" alt="Songbird, två blå fåglar varav den ena kvittrar.">
    </LinkTo>
    <nav>
      <ol>
        <li><LinkTo @route="fika-buddies">Fika-kompisar</LinkTo></li>
        <li><LinkTo @route="log-search">Loggsök</LinkTo></li>
      </ol>
    </nav>
  </header>

  <main>
    {{outlet}}
  </main>
</section>