{{page-title "Fika-kompis-schema"}}

<h1>Fika-kompisar</h1>

<section class="fika-buddies">
  {{#each this.model as |schedule|}}
    <div>
      <h2>Vecka {{luxon-format schedule.startDate 'W'}}</h2>
      {{#each schedule.matches as |group|}}
        <FikaBuddyGroup @model={{group}} />
      {{/each}}
    </div>
  {{/each}}
</section>